*, *:before, *:after {
	margin: 0;
	box-sizing: inherit;
}

.about {
	margin: 1em 0 0 0;
	display: none;
}

body{
	font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.6rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {

	margin: 0 0 1em 0;

}

h1 {
	font-size: inherit;
	font-weight: normal;
	padding: 0 0 0 0em;
	margin: 0 0;
}


a, .category-filter {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

a, .name {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover, .category-filter:hover {
	color: blue;
	text-decoration: underline;
}

.col2 {
  position: relative;

/* right: 0; */
width: 100%;
padding: 0.5em;
z-index: 99999;
float: left;
}

.column {
  float: left;
}

.column:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  padding: 0.5em 0.5em 0.5em 0;
  width: 27%;
  /* background-color: grey; */
}

#bio {
  	cursor: pointer;
}

.bio left {
width: 20%;
}

.bio right{
width: 80%;
padding: 0 0 0 5em;
text-align: right;
}

*::-webkit-scrollbar {
  display: none;
}


.project.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;

}

.project {
  /*margin-left: 35%;*/
  /* margin-bottom: 8px; */
  /* position: relative; */
  width: 70%;
  /* height: 0%; */
  /* border: 1px solid black; */
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  cursor: ew-resize;
  float: left;
}

.project-item {
  position: relative;
  /* max-width:100%; */
  height: 43vw;
  display: inline-block;
  /* overflow: hidden; */
  /* border: 1px solid black; */
  /* margin: 0 0 0% 0%; */
}

.project-item img {
  width: auto;
  height: 100%;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.project-description {

  width: 30%;
  height: auto;
  /* background-color: grey; */
  text-align: left;
  /* left: 70%; */
  padding: 0.5em;
  /* font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.65rem; */
  /* border-top: 1px solid black; */
  float: left;
}

.project-content {}

.project-year {}

.menu-item {
  position: relative;
  font-size: 3em;
  margin: 110px;
  margin-top: 400px;
}

.menu-item:hover {
  cursor: pointer;
}


@media screen and (max-width: 500px) {

	.col2{
	    position: relative;
        top: 0.3em;
		width: 100%;
		margin: 0;
		padding: 0;
		background-color: white;
	}

	.about {
	    position: relative;
        margin: 1.2em 0 0 0;
	    width: 100%;
	    background-color: white;

	}

	.col1 {
        margin: 20px 0 0 0;
        width: 100%;}
}
